@font-face{
    src: url('../assets/fonts/IBMPlexSans-SemiBold.ttf');
    font-family: 'IBMPlexSans-SemiBold';
}
@font-face{
    src: url('../assets/fonts/IBMPlexSans-Light.ttf');
    font-family: 'IBMPlexSans';
}
@font-face{
    src: url('../assets/fonts/IBMPlexMono-Light.ttf');
    font-family: 'IBMPlexMono';
}
@font-face{
    src: url('../assets/fonts/IBMPlexMono-Medium.ttf');
    font-family: 'IBMPlexMono-Medium';
}
