$color-primary:#060A24;
$color-back:#0000EC;
$color-title-back:#FFFFFF;
$color-button:#00F3BB;
$color-event:rgba(6,10,36,0.56); 
$typography-items:IBMPlexMono;
$typography-titles:IBMPlexSans;
$typography-buttons:IBMPlexMono-Medium;
$typography-semi:IBMPlexSans-SemiBold;